<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <!-- ucMeta-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- ucMeta./.-->
    <!-- ucCSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" />
    <link href="/assets/css/app.min.css" rel="stylesheet" />
    <link href="/assets/css/custom.min.css" rel="stylesheet" />
    <link href="/assets/css/dropzone.css" rel="stylesheet" />
    <link href="/assets/css/glightbox.min.css" rel="stylesheet" />
    <!-- ucCSS./. -->
    <title>OIDC</title>
</head>
<body>
    <div id="layout-wrapper">
        

    @RenderBody()
    </div>
    <!-- ucScript -->
    <script src="/assets/js/layout.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>
    <script src="/assets/js/waves.min.js"></script>
    <script src="/assets/js/ckeditor.js"></script>
    <script src="/assets/js/dropzone-min.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/lord-icon-2.1.0.js"></script>
    <script src="/assets/js/particles.js"></script>
    <script src="/assets/js/particles.app.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- ucScript./. -->
</body>
</html>
