@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="app-menu navbar-menu">
    <!-- MENU LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
       
        <!-- Light Logo-->
        <a asp-controller="Home" asp-action="Index" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/login/logo.png" class="logo-part" height="22">
                <img src="/assets/images/login/textLogo.png" class="logo-part" height="1">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/login/logo.png" class="logo-part" height="35">
                <img src="/assets/images/login/textLogo.png" class="logo-part" height="35">
            </span>
        </a>

        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <!-- MENU LIST -->
    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span>DASHBOARDS</span></li>

                <!-- Index -->
                <li class="nav-item">
                    <a class="nav-link menu-link"  asp-controller="Home" asp-action="Index">
                        <i class="ri-home-4-line"></i>
                        <span>Dashboards</span>
                    </a>
                </li>

                <li class="menu-title"><span>AUTHENCATION</span></li>

                <!-- Account -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#Tai-Khoan" data-bs-toggle="collapse">
                        <i class="ri-account-circle-line"></i>
                        <span>Tài khoản</span>
                    </a>
                    <div class="collapse menu-dropdown" id="Tai-Khoan">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <button  id="client-list-link" class="nav-link">Danh sách ClientApp</button>
                            </li>
                            <li class="nav-item">
                                <button id="user-list-link" class="nav-link">Danh sách tài khoản</button>
                            </li>
                        </ul>
                    </div>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#Cai-Dat" data-bs-toggle="collapse">
                        <i class="ri-account-circle-line"></i>
                        <span>Cài đặt</span>
                    </a>
                    <div class="collapse menu-dropdown" id="#Cai-Dat">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <button id="setting-link" class="nav-link">Cài đặt phiên đăng nhập</button>
                            </li>
                            <li class="nav-item">
                                <button id="setting-link" class="nav-link">Cài đặt phiên đăng nhập</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
</div>