<tfoot class="table-light">
    <tr>
        <td colspan="10">
            <!-- ucPagination -->
            <ul class="pagination pagination-separated justify-content-center mb-0">
                <li class="page-item disabled">
                    <a href="javascript:void(0);" class="page-link">←</a>
                </li>
                <li class="page-item active">
                    <a href="javascript:void(0);" class="page-link">1</a>
                </li>
                <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">→</a>
                </li>
            </ul>
            <!-- ucPagination./. -->
        </td>
    </tr>
</tfoot>