<section id="login">
    <div class="login-container">
        <div class="img-bg">
            <img src="/assets/images/login/logo.png" class="logo-part">
            <img src="/assets/images/login/textLogo.png" class="logo-part">
        </div>

        <div class="login-box">
            <h5>ĐĂNG NHẬP HỆ THỐNG</h5>

            <form method="post" action="/login">
                <div class="mb-3 text-start input-box">
                    <i class="fa-solid fa-envelope icon-left"></i>
                    <input type="email" class="form-control form_email" id="email" name="email" placeholder="Nhập email của bạn" required>
                </div>

                <div class="mb-3 text-start input-box">
                    <i class="fa-solid fa-lock icon-left"></i>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu / Password" required>
                    <i class="fa-solid fa-eye-slash icon-right" id="togglePassword"></i>
                </div>


                <button type="submit" class="btn-login">Đăng nhập</button>
            </form>

            <div class="divider">hoặc</div>

            <button class="btn-microsoft" onclick="window.location.href='/auth/microsoft'">
                <img src="/assets/images/login/mcrf.png" alt="Microsoft logo">
                Đăng nhập với Microsoft
            </button>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            const isShowing = passwordInput.type === "text";

             if (isShowing) {
                passwordInput.type = "password";
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
            }
             else {
                passwordInput.type = "text";
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
            }
        });
    });
</script>
