@model Service.EmployeeMangement.Executes.AccountModel.AccountRequest
@{
    ViewBag.Title = "Đăng nhập hệ thống";
}
@{
    Layout = "_SubLayout";
}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">
            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Thay đổi mật khẩu đăng nhập!</h5>
                    <p class="text-muted">Vui lòng nhập email để tiếp tục.</p>
                </div>

                <div class="p-2 mt-4">
                    <!-- Form đăng nhập -->
                    <form>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Vui lòng nhập email</label>
                            <input asp-for="Email" class="form-control" id="email-forget-val" placeholder="Nhập tên đăng nhập" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                      
                        <div class="text-center">
                            <button type="button" class="btn btn-primary w-100 mb-2" id="email-forget-btn">
                                <i class="ri-login-box-line"></i> Đổi mật khẩu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="mt-4 text-center">
            <p class="mb-0">

                <a class="fw-semibold text-primary text-decoration-underline"
                   asp-action="SignIn"
                   asp-controller="Account">
                  Quay lại đăng nhập
                </a>
            </p>
        </div>
    </div>
</div>
