<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagement</title>

    <!-- Bootstrap & Core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <!-- Admin Template Styles -->

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom.min.css" rel="stylesheet" />
    <link href="~/assets/css/dropzone.css" rel="stylesheet" />
    <link href="~/assets/css/glightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    @RenderBody()


    <!-- ========== Scripts ========== -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/js/navigation.js"></script>
    <script src="~/assets/js/waves.min.js"></script>
    <script src="~/assets/js/ckeditor.js"></script>
    <script src="~/assets/js/dropzone-min.js"></script>
    <script src="~/assets/js/glightbox.min.js"></script>
    <script src="~/assets/js/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/particles.js"></script>
    <script src="~/assets/js/particles.app.js"></script>
    <script src="~/assets/js/app.js"></script>
  
    <script>
        let currentComponentScript = null;

        function loadScript(src) {
            // Xóa script cũ nếu có
            if (currentComponentScript) {
                document.body.removeChild(currentComponentScript);
                currentComponentScript = null;
            }

            // Tạo script mới
            const s = document.createElement("script");
            s.src = src;
            s.defer = true;

            // Khi nạp xong thì gắn biến toàn cục
            s.onload = () => {
                currentComponentScript = s;
                console.log(`Loaded: ${src}`);
            };

            document.body.appendChild(s);
        }

        // Lắng nghe sự kiện componentLoaded
        document.addEventListener("componentLoaded", function (e) {
            const scriptPath = e.detail.script;
            if (scriptPath) {
                loadScript(scriptPath);
            }
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
