<div class="main-content">
    <!-- PAGE-WRAPPER -->
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                        <!-- HeadingMain -->
                        <h4 class="mb-sm-0">

                            Danh sách User

                        </h4>
                        <!-- HeadingMain./. -->
                        <!-- ucBreadcrumb -->
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#">Dasboard</a></li>
                                <li class="breadcrumb-item active">Title</li>
                            </ol>
                        </div>
                        <!-- ucBreadcrumb./. -->
                    </div>
                </div>
            </div>

            <!-- ContentMain -->

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">


                        <!-- ucSearchBar -->
                        <div class="card-header align-items-center d-flex gap-2">
                            <div class="flex-shrink-0 d-flex gap-2">
                                <a btn-user-delete class="btn btn-danger waves-effect waves-light d-none">
                                    <i class="ri-delete-bin-2-line"></i>
                                    Xóa
                                </a>
                                <button id="user-create-link" class="btn btn-success add-btn waves-effect waves-light">
                                    <i class="ri-add-line align-bottom me-1"></i>
                                    Thêm
                                </button>
                                <button id="user-add-link" class="btn btn-primary add-btn waves-effect waves-light">
                                    <i class="ri-add-line align-bottom me-1"></i>
                                    Tải User
                                </button>
                            </div>
                            <div class="d-flex gap-2 flex-grow-1">
                                <div class="search-box">
                                    <i class="ri-stackshare-line search-icon"></i>
                                    <select class="form-control form-select bg-light border-light" id="ClientIdOption">
                                        <option value="" selected>Category</option>
                                    </select>
                                </div>
                                <div class="search-box flex-grow-1">
                                    <i class="ri-search-line search-icon"></i>
                                    <input type="search" class="form-control search bg-light border-light" placeholder="Search...">
                                </div>
                            </div>
                            <div class="flex-shrink-0 d-flex gap-2">
                                <a href="#" class="btn btn-primary waves-effect waves-light">
                                    <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                    Filters
                                </a>
                                <a href="#" class="btn btn-outline-primary waves-effect waves-light">
                                    <i class="ri-close-circle-fill me-1 align-bottom"></i>
                                    Clear
                                </a>
                            </div>
                        </div>
                        <!-- ucSearchBar./. -->
                        <div class="card-body">
                            <div class="live-preview">
                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </th>
                                                <th class="text-center">STT</th>
                                                <th class="text-left">Thông tin người dùng</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Số điện thoại</th>
                                               
                                                <th class="text-center">Hành động</th>
                                            </tr>
                                        </thead>

                                        <tbody id="content-user">



                                         
                                        </tbody>
                                     
                                      
                                    </table>

                                

                                </div>
                            </div>
                            <nav aria-label="Page navigation" class="mt-3">
                                <ul class="pagination justify-content-center" id="pagination"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.dispatchEvent(new CustomEvent("componentLoaded", {
        detail: { script: "/js/user.js" }
    }));
</script>
<script>
    document.dispatchEvent(new CustomEvent("componentLoaded", {
        detail: { script: "/js/user-action.js" }
    }));
</script>