@model Services.OIDC_Management.Executes.AccountModel.AccountRequest
@{
    ViewBag.Title = "Đăng nhập hệ thống";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_SubLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<section id="login">
    <div class="login-container">
        <div class="img-bg">
            <img src="/assets/images/login/logo.png" class="logo-part">
            <img src="/assets/images/login/textLogo.png" class="logo-part">
        </div>

        <div class="login-box">
            <h5>ĐĂNG NHẬP HỆ THỐNG</h5>

            <form method="post">

                <div class="mb-3 text-start input-box">
                    <i class="fa-solid fa-envelope icon-left"></i>

                    <input asp-for="Email" class="form-control form_email" placeholder="Nhập tên đăng nhập" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3 text-start input-box">
                    <i class="fa-solid fa-lock icon-left"></i>
                    <input asp-for="PasswordHash" type="password" class="form-control " placeholder="Nhập mật khẩu" required />

                    <i class="fa-solid fa-eye-slash icon-right" id="togglePassword"></i>
                </div>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Lỗi:</strong> @ViewBag.Error
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <button type="submit" class="btn-login">Đăng nhập</button>
            </form>

            <div class="divider">hoặc</div>

            <button class="btn-microsoft" onclick="window.location.href='@Url.Action("LoginWithMicrosoft", "Account", new { area = "Admin" })'">
                <img src="/assets/images/login/mcrf.png" alt="Microsoft logo">
                Đăng nhập với Microsoft
            </button>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            const isShowing = passwordInput.type === "text";

             if (isShowing) {
                passwordInput.type = "password";
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
            }
             else {
                passwordInput.type = "text";
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
            }
        });
    });
</script>